<form [formGroup]="form">

    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" formControlName="oldPassword?" id="oldPassword" class="form-control">
        <div *ngIf = "oldPassword?.invalid && oldPassword?.touched" class="alert alert-danger">
            <div *ngIf = "oldPassword?.errors?.required">Old Password is required.</div>
            <div *ngIf = "oldPassword?.errors?.isOldPasswordInvalid">Invalid Old Password</div>
        </div>
    </div><br>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" id="newPassword" class="form-control">
        <div *ngIf = "newPassword?.invalid && newPassword?.touched" class="alert alert-danger">
            <div *ngIf = "newPassword?.errors?.required">New Password is required.</div>
        </div>
    </div><br>
    
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control">
        <div *ngIf = "confirmPassword?.invalid && confirmPassword?.touched" class="alert alert-danger">
            <div *ngIf = "confirmPassword?.errors?.required">Confirmation Password is required.</div>
        </div>
        <div *ngIf ="confirmPassword?.valid && form.invalid && form.errors?.isPasswordsNotMatching" class="alert alert-danger">
            New Password and Confirmation Password should match.
        </div>
    </div><br>
    <button class="btn btn-primary">Change Password</button>

</form>